<section class="section_slider_1">
    <div class="slider_line_1"></div>
    <div class="slider_line_2"></div>
    
    <div id="slider" class="slider">
        <div class="oneByOne_item">
            <img src="images/pic_slider_1_1_1.png" alt="" class="pic_1_1" data-ease-type="bounceInRight">
            <img src="images/pic_slider_1_1_2.png" alt="" class="pic_1_2" data-ease-type="bounceInRight">
            <img src="images/pic_slider_1_1_3.png" alt="" class="pic_1_3" data-ease-type="bounceInRight">
            <div class="text_1_1" data-ease-type="fadeInUp">perfect theme for</div>
            <div class="text_1_2" data-ease-type="fadeInUp">present your Projects</div>
            <div class="text_1_3" data-ease-type="fadeInUp">template is created in the minimalist “clean” style. With a powerful admin and flexible options.</div>
        </div>
        
        <div class="oneByOne_item">
            <img src="images/pic_slider_1_2_1.png" alt="" class="pic_2_1" data-ease-type="fadeInRight">
            <img src="images/pic_slider_1_2_2.png" alt="" class="pic_2_2" data-ease-type="fadeInRight">
            <div class="text_2_1" data-ease-type="fadeIn">Powerfull Responsive Tempalte With A Creative Design</div>
            <div class="text_2_2" data-ease-type="fadeIn">Super Flexible Business HTML5 Theme</div>
            <div class="text_2_3" data-ease-type="fadeIn">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</div>
            <div class="text_2_4" data-ease-type="fadeIn"><a href="#" class="general_button big arrow_down"><span>Purchase now</span></a></div>
        </div>
        
        <div class="oneByOne_item">
            <img src="images/pic_slider_1_3_1.png" alt="" class="pic_3_1" data-ease-type="bounceInDown">
            <img src="images/pic_slider_1_3_2.png" alt="" class="pic_3_2" data-ease-type="bounceInDown">
            <img src="images/pic_slider_1_3_3.png" alt="" class="pic_3_3" data-ease-type="bounceInDown">
            <div class="text_3_1" data-ease-type="fadeInLeft">Theme Looks Good On</div>
            <div class="text_3_2" data-ease-type="fadeInLeft">different types of devices</div>
            <div class="text_3_3" data-ease-type="fadeInLeft">Tested on desktop, tablet and mobile phone.</div>
            <div class="text_3_4" data-ease-type="fadeInLeft">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</div>
            <div class="text_3_5" data-ease-type="fadeInLeft"><a href="#" class="general_button big arrow_right"><span>Read More</span></a></div>
        </div>
        
        <div class="oneByOne_item">
            <div class="video_4_1" data-ease-type="fadeIn"><iframe src="http://player.vimeo.com/video/36778012?badge=0" width="512" height="288" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
            <div class="text_4_1" data-ease-type="fadeInLeft">video present your</div>
            <div class="text_4_2" data-ease-type="fadeInLeft"><b>Product</b> and <b>services</b></div>
            <div class="text_4_3" data-ease-type="fadeInLeft">Play YouTube and Vimeo Videos</div>
            <div class="text_4_4" data-ease-type="fadeInLeft">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</div>
            <div class="text_4_5" data-ease-type="fadeInLeft"><a href="#" class="general_button big arrow_right"><span>Read More</span></a></div>
        </div>
    </div>
    
    <div class="static_pic"><img src="images/pic_slider_1_static.jpg" alt=""></div>
    
    <script type="text/javascript">
        $(function() {
            $('#slider').oneByOne({
                width : 2000,
                className : 'oneByOne1',                 
                easeType : 'bounceInRight',
                slideShow : false,
                showArrow : true,
                showButton : false
            });
        });
    </script>
</section>