{% extends 'aquincum/_common/_apanel.twig' %}


{% block apanel_content %}


    
<!-- Sidebar forms -->
<div class="sideWidget">
    <div class="divider"><span></span></div>

    <a href="#" title="" class="sideB bBlue">Добавить приложение</a>

    <div class="divider"><span></span></div>
    
    <div class="formRow searchDrop">
        <select data-placeholder="Социальная сеть..." class="select" tabindex="2">
            <option value=""></option> 
            <option value="vk">Вконтакте</option> 
            <option value="ok">Одноклассники</option> 
            <option value="fb">Facebook</option> 
        </select>
    </div>
    
    <div class="formRow">
        <label>ID приложения:</label>
        <input type="text" name="regular" placeholder="Your name" />
    </div>
    <div class="formRow">
       <label>Защитный код:</label>
        <input type="text" name="regular" placeholder="Your password" /> 
    </div>

    <div class="formRow">
        <input type="checkbox" id="check2" name="chbox1" class="check" />
        <label for="check2"  class="nopadding" title="Приложение соответствует правилам">соответствует <a href="#">правилам</a></label>
    </div>

    <div class="formRow">
        <label>Наименование:</label>
        <input type="text" name="regular" placeholder="Your name" />
    </div>
    
    <div class="formRow">
        <label>Описание:</label>
        <textarea rows="8" cols="" name="textarea" placeholder="Your message"></textarea>
    </div>
    <div class="formRow">
        <input type="submit" class="buttonS bLightBlue" value="Submit button" />
    </div>
</div>



{% endblock %}