<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}{% endblock %}</title>
  
  <link rel="stylesheet" href="/bundles/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  
  <script src="/bundles/jquery/jquery.min.js"></script>
  
  <script src="/bundles/jquery/jquery.form.js"></script>
  <script src="/bundles/jquery/jquery.jsonrpc.js"></script>
  
  <script src="/bundles/jquery-tmpl/jquery.tmpl.js"></script>
  
  <script>
  $(document).ready(function(){
      $.jsonRPC.setup({
          endPoint: '/rpc',
          //namespace: 'merchants'
      });
  });
  
  var som = {
      api: function(call, params, success, failure, error){
          $.jsonRPC.request(call, {
              params: params,
              success: success ? success : function(response){console.log('SUCCESS:');console.log(response)},
              error: error ? error : function(response){console.log('ERROR:');console.log(response)}
          });
      }
  }
  
  </script>
  
</head>
<body>
  {% block topmenu %}
  {% include 'merchant/_topmenu.twig' %}
  {% endblock %}

  <div class="container" style="margin-top: 50px;">
    {% include 'merchant/_top_submenu.twig' %}
    {% block content %}{% endblock %}
  </div> 
  
  <script src="/bundles/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>