{% extends "merchant/_layout.twig" %}

{% block title %}Авторизация{% endblock %}

{% block topmenu %}{% endblock %}

{% block content %}

<div class="auth-form">

  <table><tr>
    <td>
      <form id="merchant-authorization" class="bs-docs-example form-horizontal" action="/auth/login" method="POST">
        <div class="control-group">
          <div class="controls">
             <h3>Авторизация</h3>
          </div>
        </div>        
        <div class="control-group">
          <label class="control-label" for="logEmail">Email</label>
          <div class="controls">
            <input type="text" id="logEmail" name="logEmail" placeholder="Email">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="logPassword">Пароль</label>
          <div class="controls">
            <input type="password" id="logPassword" name="logPassword" placeholder="Пароль">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" name="remember"> Запомнить меня
            </label>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-success" data-loading-text="Авторизация в процессе...">Авторизация</button>
          </div>
        </div>
      </form>
    </td>
    <td>
      <form id="merchant-registration" class="bs-docs-example form-horizontal" action="/auth/registration" method="POST">
        <div class="control-group">
          <div class="controls">
             <h3>Регистрация</h3>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="regEmail">Email</label>
          <div class="controls">
            <input type="text" id="regEmail" name="email" placeholder="Email">
            <span class="help-inline"></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="regPassword">Пароль</label>
          <div class="controls">
            <input type="password" id="regPassword" name="password" placeholder="Пароль">
            <span class="help-inline"></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password_conf">Еще пароль</label>
          <div class="controls">
            <input type="password" id="password_conf" name="password_conf" placeholder="Введите пароль еще раз" title="Введите пароль еще раз">
            <span class="help-inline"></span>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary" data-loading-text="Регистрация в процессе...">Регистрация</button>
          </div>
        </div>
      </form>
    </td>
  </tr></table>

</div>


<script>
$(document).ready(function(){
    
    $('.auth-form *').tooltip();
    
    $('#merchant-authorization, #merchant-registration').ajaxForm({
        dataType:  'json',
        beforeSubmit: function(formData, jqForm, options){
            
            var form_id = $(jqForm).attr('id');
            var if_errors = true;
            
            $('#'+form_id+' button.btn').button('loading');
            $('#'+form_id+' .control-group').removeClass('error');
            $('#'+form_id+' .control-group').removeClass('warning');
            $('#'+form_id+' .help-inline').html('');
            
            for (var i=0; i < formData.length; i++) {
                if (!formData[i].value) { 
                    $('#'+form_id+' input[name="'+formData[i].name+'"]').parents('.control-group').addClass('error'); 
                    if_errors = false; 
                }
            }
            
            if (!if_errors) $('#'+form_id+' button.btn').button('reset'); 
            
            return if_errors;
        },
        success: function(data, p1, p2, jqForm){
            var form_id = $(jqForm).attr('id');
            
            $('#'+form_id+' button.btn').button('reset');
            
            if (data.success === true && data.result == form_id+'-ok') {
                switch (form_id) {
                    case 'merchant-authorization':
                        window.location = '/merchant';
                        break;
                    case 'merchant-registration':
                        $('#'+form_id).resetForm();
                        $('#successfulRegistration').modal('show');
                        break;
                }
                
            }
            else {
                switch (data.result.format) {
                    case ':message':
                        //
                        break;
                }
                
                $.each(data.result.messages, function(index, item){
                    $('#'+form_id+' input[name="'+index+'"]').parents('.control-group').addClass('warning');
                    $('#'+form_id+' input[name="'+index+'"]').parents('.control-group').find('.help-inline').html(item);
                })
                
            }
            
        },
        error: function(){
            $('form button.btn').button('reset');
        }
    });
});
</script>

<div id="successfulRegistration" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Успешная регистрация</h3>
  </div>
  <div class="modal-body">
    <p>Вы успешно зарегистрировались на сайте "Социальные сети". На Ваш email отправлено письмо с ссылкой для подтверждения регистрации. Пройдите по этой ссылке для завершения процесса регистрации.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
  </div>
</div>

{% endblock %}