<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/merchant/">Merchant</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Мои приложения <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/merchant/apps_create">Создать приложение</a></li>
              <li><a href="/merchant/apps_list">Список приложений</a></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ЗАКУПКИ <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="purchases_list">Список закупок</a></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="#" onclick="return false;">serovvitaly@gmail.com</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Профиль <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Настройки</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="/auth/logout">Выход</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>