<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% block title %}{% endblock title %}</title>

<meta name="keywords" content="">
<meta name="description" content="">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--[if lt IE 9]>
<script type="text/javascript" src="/vendors/skydream/layout/plugins/html5.js"></script>
<![endif]-->

<link rel="stylesheet" href="/vendors/skydream/layout/style.css" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/vendors/skydream/layout/js/jquery.js"></script>

<!-- PrettyPhoto start -->
<link rel="stylesheet" href="/vendors/skydream/layout/plugins/prettyphoto/css/prettyPhoto.css" type="text/css">
<script type="text/javascript" src="/vendors/skydream/layout/plugins/prettyphoto/jquery.prettyPhoto.js"></script>
<!-- PrettyPhoto end -->

<!-- jQuery tools start -->
<script type="text/javascript" src="/vendors/skydream/layout/plugins/tools/jquery.tools.min.js"></script>
<!-- jQuery tools end -->

<!-- ScrollTo start -->
<script type="text/javascript" src="/vendors/skydream/layout/plugins/scrollto/jquery.scroll.to.min.js"></script>
<!-- ScrollTo end -->

<!-- FlexSlider start -->
<link rel="stylesheet" href="/vendors/skydream/layout/plugins/flexslider/flexslider.css" type="text/css"/>
<script type="text/javascript" src="/vendors/skydream/layout/plugins/flexslider/jquery.flexslider-min.js"></script>
<!-- FlexSlider end -->

<!-- jQuery Form Plugin start -->
<script type="text/javascript" src="/vendors/skydream/layout/plugins/ajaxform/jquery.form.js"></script>
<!-- jQuery Form Plugin end -->

<!-- Twitter Plugin start -->
<script charset="utf-8" src="//widgets.twimg.com/j/2/widget.js"></script>
<script type="text/javascript" src="/vendors/skydream/layout/plugins/tweet/tweet.widget.js"></script>
<!-- Twitter Plugin end -->

<!-- jQuery Sort Plugin start -->
<script type="text/javascript" src="/vendors/skydream/layout/plugins/sort/jquery.sort.min.js"></script>
<!-- jQuery Sort Plugin end -->

<!-- Roundabout Plugin start -->
<script type="text/javascript" src="/vendors/skydream/layout/plugins/roundabout/jquery.roundabout.min.js"></script>
<!-- Roundabout Plugin end -->

<!-- Nivo Slider Plugin start -->
<link rel="stylesheet" href="/vendors/skydream/layout/plugins/nivo/nivo-slider.css" type="text/css">
<script type="text/javascript" src="/vendors/skydream/layout/plugins/nivo/jquery.nivo.slider.pack.js"></script>
<!-- Nivo Slider Plugin end -->

<!-- OneByOne start -->
<link rel="stylesheet" href="/vendors/skydream/layout/plugins/onebyone/css/jquery.onebyone.css" type="text/css"/>
<link rel="stylesheet" href="/vendors/skydream/layout/plugins/onebyone/css/animate.css" type="text/css"/>
<script type="text/javascript" src="/vendors/skydream/layout/plugins/onebyone/jquery.onebyone.min.js"></script>
<!-- OneByOne end -->

<script type="text/javascript" src="/vendors/skydream/layout/js/main.js"></script>

<script type="text/javascript" src="/bundles/krio/jquery.krioImageLoader.js"></script>
<script type="text/javascript">
    
    $(document).ready(function() {
        $("img").krioImageLoader();
    });
    
</script>