<div id="applicationTemplate-content">

  <div class="row-fluid socs-tabs" style="margin-bottom: 40px;">
    <div class="span4 select" style="text-align: center;">
      <a href="#"><img src="/bundles/vk/img/logo.min.png" style="width: 100%;" alt="Вконтакте"></a>
    </div>
    <div class="span4" style="text-align: center;">
      <a href="#"><img src="/bundles/odnoklassniki/img/logo.min.png" style="width: 100%;" alt="Одноклассники"></a>
    </div>
    <div class="span4" style="text-align: center;">
      <a href="#"><img src="/bundles/facebook/img/logo.min.png" style="width: 100%;" alt="Facebook"></a>
    </div>
  </div>

  
  <div id="applicarion-cont-wrapper">
    <form id="applicarion-adding" action="/merchant/application_add" class="form-horizontal" method="POST">
    
      <input type="hidden" name="id" value="${id}">
    
      <div class="control-group">
        <label class="control-label" for="app_name">Имя приложения</label>
        <div class="controls">
          <input type="text" id="app_name" name="app_name" value="${app_name}">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="app_id">ID приложения</label>
        <div class="controls">
          <input type="text" id="app_id" name="app_id" value="${app_id}">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="app_secret">Защищенный ключ</label>
        <div class="controls">
          <input type="text" id="app_secret" name="app_secret" value="${app_secret}">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-large btn-info"><i style="margin: 1px 5px 0 0;" class="icon-ok icon-white"></i> Сохранить</button>
        </div>
      </div>
    </form>
  </div>


<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Как создать правильное приложение в Вконтакте
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>Вы можете создать любое приложение и использовать API ВКонтакте для доступа и обмена информацией с серверами ВКонтакте. Вы можете использовать любое количество собственных серверов и любыми средствами монетизировать собственные приложения.</p> 
        <p>Обновленная версия API дает разработчикам сотни новых возможностей и позволяет создавать интересные, интерактивные и популярные приложения.</p>
        
        <p>Существует два типа приложений:</p> 

<strong>1) Flash приложения</strong> 
<p>В качестве оболочки для обмена данными используется объект Flash. Вы можете загрузить любое приложение в формате .SWF размером не более 807x730 точек. Если используется Flash-контейнер, то размер приложения ограничен 807x4050 точками. Также можно отключить поля и элементы управления приложением, тогда размер приложения может быть увеличен до 827x4050 точек.</p> 

<strong>2) IFrame приложения </strong> 
<p>Внутри страницы приложения открывается IFrame, содержащий страницу, расположенную на стороннем сервере, в таком случае приложение может использовать любые технологии, поддерживаемые браузером, и обмениваться данными с ВКонтакте используя JavaScript. Вы можете менять размер приложения как в Настройках, так и динамически через JS API.</p> 
        
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Как создать правильное приложение в Одноклассники
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Инструкция - "Как создать правильное приложение в Одноклассники"
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo3">
        Как создать правильное приложение в Facebook
      </a>
    </div>
    <div id="collapseTwo3" class="accordion-body collapse">
      <div class="accordion-inner">
        Инструкция - "Как создать правильное приложение в Facebook"
      </div>
    </div>
  </div>
</div>

</div>