{% extends "merchant/_layout.twig" %}

{% block title %}Админка{% endblock %}

{% block content %}
<div class="row">
  <div class="span3">
    <button class="btn" onclick="createApplication();" style="width: 100%;"><i class="icon-plus"></i> Добавить приложение</button>
    
    <ul class="nav nav-tabs nav-stacked" style="margin-top: 20px;" id="ul-app-list">
    {% for app in applications %}
      <li><a href="#{{ app.id }}" onclick="loadApp({{ app.id }}, this); return false;">{% if app.app_name is empty %}Приложение {{ app.id }}{% else %}{{ app.app_name }}{% endif %}</a></li>
    {% endfor %}      
    </ul>
  </div>
  <div class="span9" id="ajax-content-main"></div>
</div>

<script>

$(document).ready(function(){    
    if (document.location.hash == '#add') {
        createApplication();
    }
});

function loadApp(id, el){
    $('#ul-app-list li').removeClass('active');
    som.api('apps_get', [id], function(data){
        $(el).parents('li').addClass('active');
        createApplication(data.result);
    });
    
}

function createApplication(data){
    
    if (!data) var data = {id:0};
    if (data.id == 'undefined' || data.id < 1) data.id = 0;
    
    $("#ajax-content-main").html( $("#applicationTemplate").tmpl(data) );
    applicationTemplate(data.id);
}

function applicationTemplate(id){
    $('#applicarion-adding').ajaxForm({
        dataType:  'json',
        beforeSubmit: function(formData, jqForm, options){
            
            var form_id = $(jqForm).attr('id');
            var no_errors = true;
            
            $('#'+form_id+' button.btn').button('loading');
            $('#'+form_id+' .control-group').removeClass('error');
            $('#'+form_id+' .control-group').removeClass('warning');
            $('#'+form_id+' .help-inline').html('');
            
            for (var i=0; i < formData.length; i++) {
                if (!formData[i].value && formData[i].name != 'app_name') { 
                    $('#'+form_id+' input[name="'+formData[i].name+'"]').parents('.control-group').addClass('error'); 
                    no_errors = false; 
                }
            }
            
            if (!no_errors) $('#'+form_id+' button.btn').button('reset'); 
            
            return no_errors;
        },
        success: function(data, p1, p2, jqForm){
            var form_id = $(jqForm).attr('id');
            
            $('#'+form_id+' button.btn').button('reset');
            
            if (data.success === true && data.result == form_id+'-ok') {
                $('#ul-app-list li').removeClass('active');
                
                if (id > 0) {
                    $('#ul-app-list li a[href="#'+id+'"]').parents('li').addClass('active');
                    $('#ul-app-list li a[href="#'+id+'"]').html(data.app.name);
                }
                else {
                    $('#ul-app-list').append('<li class="active"><a href="#'+data.app.id+'" onclick="loadApp('+data.app.id+'); return false;">'+data.app.name+'</a></li>');
                }               
            }
            else {
                switch (data.result.format) {
                    case ':message':
                        //
                        break;
                }
                
                $.each(data.result.messages, function(index, item){
                    $('#'+form_id+' input[name="'+index+'"]').parents('.control-group').addClass('warning');
                    $('#'+form_id+' input[name="'+index+'"]').parents('.control-group').find('.help-inline').html(item);
                })
                
            }
            
        },
        error: function(){
            $('form button.btn').button('reset');
        }
    });
}
</script>


<!-- Шаблон формы добавления приложения -->
<script id="applicationTemplate" type="text/x-jquery-tmpl">
{% include 'merchant/apps/_tpl_applicationTemplate.twig' %}
</script>

{% endblock %}