<div class="media ptoduct-item" onclick="productRenderFullData(this)">
  <a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" src="${picture}">
  </a>
  <div class="media-body">
    <h5 class="media-heading">${name}</h5>
    <p style="font-size: 24px;">${price}</p>
  </div>
  <input class="description" type="hidden" value="${description}">
</div>


