<div class="contentTop">
    <span class="pageTitle"><span class="icon-screen"></span>{{ current_page.title }}</span>
    <ul class="quickStats">
        <li>
            <a href="" class="blueImg"><img src="/aquincum/images/icons/quickstats/plus.png" alt="" /></a>
            <div class="floatR"><strong class="blue">5489</strong><span>просмотров</span></div>
        </li>
        <li>
            <a href="" class="redImg"><img src="/aquincum/images/icons/quickstats/user.png" alt="" /></a>
            <div class="floatR"><strong class="blue">4658</strong><span>покупателей</span></div>
        </li>
        <li>
            <a href="" class="greenImg"><img src="/aquincum/images/icons/quickstats/money.png" alt="" /></a>
            <div class="floatR"><strong class="blue">1289</strong><span>объем продаж</span></div>
        </li>
    </ul>
</div>