{% extends 'base/layouts/_layout.twig' %}

{% block content_layout %}

<!-- CONTENT BEGIN -->
<div id="content" class="">
    <div class="inner">
        <div class="general_content">
            <div class="main_content">
                
                {% block main_content %}
                helo
                {% endblock main_content %}
                
            </div>
            
            <div class="clearboth"></div>
        </div>
    </div>
</div>
<!-- CONTENT END -->

{% endblock content_layout %}