<div class="mainNav">
    <div class="user">
        <a title="" class="leftUserDrop"><img src="/aquincum/images/user.jpg" alt="" /><span><strong>3</strong></span></a><span>Eugene</span>
        <ul class="leftUser">
            <li><a href="#" title="" class="sProfile">Профиль</a></li>
            <li><a href="#" title="" class="sMessages">Сообщения</a></li>
            <li><a href="#" title="" class="sSettings">Настройки</a></li>
            <li><a href="/auth/logout" title="" class="sLogout">Выход</a></li>
        </ul>
    </div>
    
    <!-- Responsive nav -->
    <div class="altNav">
        <div class="userSearch">
            <form action="">
                <input type="text" placeholder="search..." name="userSearch" />
                <input type="submit" value="" />
            </form>
        </div>
        
        <!-- User nav -->
        <ul class="userNav">
            <li><a href="#" title="" class="profile"></a></li>
            <li><a href="#" title="" class="messages"></a></li>
            <li><a href="#" title="" class="settings"></a></li>
            <li><a href="#" title="" class="logout"></a></li>
        </ul>
    </div>
    
    <!-- Main nav -->
    <ul class="nav">
    
    {% for page_item in pages_collection %} 
        <li><a href="/merchant{{ page_item.href }}" title=""{% if page_item.is_active %} class="active"{% endif %}><img src="/aquincum/images/icons/mainnav/{{ page_item.icon }}" alt="" /><span>{{ page_item.title }}</span></a></li>
    {% endfor %}
    </ul>
</div>