<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>Aquincum - premium admin template by Eugene Kopyov</title>

<link href="/aquincum/css/styles.css" rel="stylesheet" type="text/css" />
<!--[if IE]> <link href="/aquincum/css/ie.css" rel="stylesheet" type="text/css"> <![endif]-->

{% include 'aquincum/_common/scripts/login.twig' %}

</head>

<body>

<!-- Top line begins -->
<div id="top">
	<div class="wrapper">
    	<a href="#" title="" class="logo"><img src="/aquincum/images/logo.png" alt="" /></a>
        
        <!-- Right top nav -->
        <div class="topNav">
            <ul class="userNav">
                <li><a href="#" title="" class="screen"></a></li>
                <li><a href="#" title="" class="settings"></a></li>
                <li><a href="#" title="" class="logout"></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Top line ends -->


<!-- Login wrapper begins -->
<div class="loginWrapper">

	<!-- Current user form -->
    <form id="login" class="bs-docs-example form-horizontal" action="/auth/login" method="POST">
        <div class="loginPic">
            <a href="#" title=""><img src="/aquincum/images/userLogin.png" alt="" /></a>
            <span>Eugene Kopyov</span>
            <div class="loginActions">
                <div><a href="#" title="Change user" class="logleft flip"></a></div>
                <div><a href="#" title="Forgot password?" class="logright"></a></div>
            </div>
        </div>
        
        <input type="text" name="email" placeholder="Введите ваш email" class="loginEmail" />
        <input type="password" name="password" placeholder="Пароль" class="loginPassword" />
        
        <div class="logControl">
            <div class="memory"><input type="checkbox" checked="checked" class="check" id="remember1" /><label for="remember1">Запомнить меня</label></div>
            <input type="submit" name="submit" value="Поехали" class="buttonM bBlue" />
        </div>
    </form>
    
    <!-- New user form -->
    <form action="index.html" id="recover">
        <div class="loginPic">
            <a href="#" title=""><img src="/aquincum/images/userLogin2.png" alt="" /></a>
            <div class="loginActions">
                <div><a href="#" title="" class="logback flip"></a></div>
                <div><a href="#" title="Forgot password?" class="logright"></a></div>
            </div>
        </div>
            
        <input type="text" name="login" placeholder="Your username" class="loginUsername" />
        <input type="password" name="password" placeholder="Password" class="loginPassword" />
        
        <div class="logControl">
            <div class="memory"><input type="checkbox" checked="checked" class="check" id="remember2" /><label for="remember2">Запомнить меня</label></div>
            <input type="submit" name="submit" value="Поехали" class="buttonM bBlue" />
        </div>
    </form>

</div>

<script>
$(document).ready(function(){
    
    $('.auth-form *').tooltip();
    
    $('#login, #merchant-registration').ajaxForm({
        dataType:  'json',
        beforeSubmit: function(formData, jqForm, options){
            
            var form_id = $(jqForm).attr('id');
            var no_errors = true;
            
            $('#'+form_id+' button.btn').button('loading');
            $('#'+form_id+' input').removeClass('error');
            $('#'+form_id+' input').removeClass('warning');
            $('#'+form_id+' .help-inline').html('');
            
            for (var i=0; i < formData.length; i++) {
                if (!formData[i].value) { 
                    $('#'+form_id+' input[name="'+formData[i].name+'"]').addClass('error'); 
                    no_errors = false; 
                }
            }
            
            if (!no_errors) $('#'+form_id+' button.btn').button('reset'); 
            
            return no_errors;
        },
        success: function(data, p1, p2, jqForm){
            var form_id = $(jqForm).attr('id');
            
            $('#'+form_id+' button.btn').button('reset');
            
            if (data.success === true && data.result == form_id+'-ok') {
                switch (form_id) {
                    case 'login':
                        window.location = '/merchant';
                        break;
                    case 'merchant-registration':
                        $('#'+form_id).resetForm();
                        $('#successfulRegistration').modal('show');
                        break;
                }
                
            }
            else if (data.success === false && data.result == 'merchant-authorization-wrong') {
                $('#wrongAuthorization').addClass('in');
            }
            else {
                switch (data.result.format) {
                    case ':message':
                        //
                        break;
                }
                
                $.each(data.result.messages, function(index, item){
                    $('#'+form_id+' input[name="'+index+'"]').parents('.control-group').addClass('warning');
                    $('#'+form_id+' input[name="'+index+'"]').parents('.control-group').find('.help-inline').html(item);
                })
                
            }
            
        },
        error: function(){
            $('form button.btn').button('reset');
        }
    });
});
</script>

<!-- Login wrapper ends -->

</body>
</html>
