 a {
    color: #2B587A;
    cursor: pointer;
}
  
  
.dropdown-menu {
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}


.modal {
    border: 1px solid #999;
    -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
            border-radius: 1px;
}
.modal-header {
    padding: 7px 15px;
}
.modal-footer {
    padding: 8px 15px 10px;
}
.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: 0.4;
    filter: alpha(opacity=40);
}


.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  font-weight: bold;
}


.auth-form td{
    vertical-align: top;
}


#applicationTemplate-content .socs-tabs .span4{
    border: 1px solid rgb(236, 243, 248);
    padding: 4px;
}
#applicationTemplate-content .socs-tabs .span4 img{
    opacity: 0.75;
    filter: alpha(opacity=75);
}
#applicationTemplate-content .socs-tabs .span4:hover, #applicationTemplate-content .socs-tabs .span4.select{
    border-color: rgb(188, 203, 214);
}
#applicationTemplate-content .socs-tabs .span4:hover img, #applicationTemplate-content .socs-tabs .span4.select img{
    opacity: 1;
    filter: alpha(opacity=100);
}



#applicarion-cont-wrapper{
    background-color: rgb(245, 249, 252);
    padding: 40px 10px 30px;
    border: 1px solid rgb(217, 225, 231);
    margin-bottom: 20px;
    
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}