<nav class="main_menu">
    <ul>
        <li><a href="index-2.html">Главная<span class="subtext">start here</span></a>
            
            <ul>
                <li><a href="index-2.html">Home Page Style 1</a></li>
                <li><a href="index_2.html">Home Page Style 2</a></li>
                <li><a href="index_3.html">Home Page Style 3</a></li>
                <li><a href="index_4.html">Home Page Style 4</a></li>
                <li><a href="index_5.html">Home Page Style 5</a></li>
                <li><a href="index_6.html">Home Page Style 6</a></li>
                <li><a href="index_7.html">Home Page Style 7</a></li>
                <li><a href="index_8.html">Home Page Style 8</a></li>
            </ul>
        </li>
        <li><a href="#">Our Projects<span class="subtext">result of our work</span></a>
            
            <ul>
                <li><a href="portfolio_1_1_c.html">Portfolio Style 1</a>
                    
                    <ul>
                        <li><a href="portfolio_1_1_c.html">1 Column</a></li>
                        <li><a href="portfolio_1_2_c.html">2 Columns</a></li>
                        <li><a href="portfolio_1_3_c.html">3 Columns</a></li>
                        <li><a href="portfolio_1_4_c.html">4 Columns</a></li>
                    </ul>
                </li>
                <li><a href="portfolio_2_1_c.html">Portfolio Style 2</a>
                    
                    <ul>
                        <li><a href="portfolio_2_2_c.html">2 Columns</a></li>
                        <li><a href="portfolio_2_3_c.html">3 Columns</a></li>
                        <li><a href="portfolio_2_4_c.html">4 Columns</a></li>
                    </ul>
                </li>
                <li><a href="portfolio_3_1_c.html">Portfolio Style 3</a>
                    
                    <ul>
                        <li><a href="portfolio_3_2_c.html">2 Columns</a></li>
                        <li><a href="portfolio_3_3_c.html">3 Columns</a></li>
                        <li><a href="portfolio_3_4_c.html">4 Columns</a></li>
                    </ul>
                </li>
                <li><a href="gallery_2_c.html">Gallery</a>
                    
                    <ul>
                        <li><a href="gallery_2_c.html">2 Columns</a></li>
                        <li><a href="gallery_3_c.html">3 Columns</a></li>
                        <li><a href="gallery_4_c.html">4 Columns</a></li>
                    </ul>
                </li>
                <li><a href="portfolio_left_sidebar_2_c.html">Portfolio With Left Sidebar</a>
                    
                    <ul>
                        <li><a href="portfolio_left_sidebar_2_c.html">2 Columns</a></li>
                        <li><a href="portfolio_left_sidebar_3_c.html">3 Columns</a></li>
                    </ul>
                </li>
                <li><a href="portfolio_right_sidebar_2_c.html">Portfolio With Right Sidebar</a>
                    
                    <ul>
                        <li><a href="portfolio_right_sidebar_2_c.html">2 Columns</a></li>
                        <li><a href="portfolio_right_sidebar_3_c.html">3 Columns</a></li>
                    </ul>
                </li>
                <li><a href="portfolio_item.html">Portfolio Item Page</a>
                    
                    <ul>
                        <li><a href="portfolio_item.html">Style 1</a></li>
                        <li><a href="portfolio_item_2.html">Style 2</a></li>
                        <li><a href="portfolio_item_3.html">Style 3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Features<span class="subtext">all different pages</span></a>
            
            <ul>
                <li><a href="#">Sliders</a>
                    
                    <ul>
                        <li><a href="index-2.html">Slider 1</a></li>
                        <li><a href="slider_2.html">Slider 2</a></li>
                        <li><a href="slider_3.html">Slider 3</a></li>
                        <li><a href="slider_4.html">Slider 4</a></li>
                        <li><a href="slider_5.html">Slider 5</a></li>
                        <li><a href="slider_6.html">Slider 6</a></li>
                    </ul>
                </li>
                <li><a href="#">Shortcodes</a>
                    
                    <ul>
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="columns.html">Columns</a></li>
                        <li><a href="accordion.html">Accordion</a></li>
                        <li><a href="tabs.html">Tabs</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="alert_messages.html">Alert Messages</a></li>
                        <li><a href="buttons.html">Buttons</a></li>
                        <li><a href="tables.html">Tables</a></li>
                    </ul>
                </li>
                <li><a href="#">Pages</a>
                    
                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="pricing_table.html">Pricing Table</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact Us Style 1</a></li>
                        <li><a href="contact_2.html">Contact Us Style 2</a></li>
                    </ul>
                </li>
                <li><a href="#">Pages With Alternative Footer</a>
                    
                    <ul>
                        <li><a href="index_alt_footer.html">Home Page</a></li>
                        <li><a href="about_alt_footer.html">About Us</a></li>
                        <li><a href="gallery_alt_footer.html">Gallery</a></li>
                        <li><a href="blog_alt_footer.html">Blog</a></li>
                        <li><a href="contact_alt_footer.html">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="current_page_item"><a href="blog.html">Blog<span class="subtext">what we think</span></a>
            
            <ul>
                <li><a href="blog.html">Blog</a>
                
                    <ul>
                        <li><a href="blog.html">Blog Style 1</a></li>
                        <li><a href="blog_2.html">Blog Style 2</a></li>
                        <li><a href="blog_3.html">Blog Style 3</a></li>
                        <li><a href="blog_4.html">Blog Style 4</a></li>
                        <li><a href="blog_5.html">Blog Style 5</a></li>
                        <li><a href="blog_6.html">Blog Style 6</a></li>
                        <li><a href="blog_7.html">Blog Style 7</a></li>
                        <li><a href="blog_8.html">Blog Style 8</a></li>
                    </ul>
                </li>
                <li><a href="blog_post.html">Blog Post</a>
                    
                    <ul>
                        <li><a href="blog_post.html">Blog Post Style 1</a></li>
                        <li><a href="blog_post_2.html">Blog Post Style 2</a></li>
                        <li><a href="blog_post_3.html">Blog Post Style 3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="contact.html">Contact Us<span class="subtext">write message</span></a></li>
    </ul>
</nav>